<div class="container marketing">
  <hr class="featurette-divider">
  <h1> Pajens e Dama </h1>
  <hr>

  <h3> Sara Letícia </h3>
  <ul>
    <div class="row">
      <div class="span5">
        <img src="/assets/pajens/saraleticia.jpg" class="img-polaroid">
      </div>
      <div class="span5">
          <p class="lead">Sobrinha do noivo. Escolida para entrar na igreja como a dama</p>
      </div>
    </div>
  </ul>
  
  <h3> Sara Letícia </h3>
  <ul>
    <div class="row">
      <div class="span5">
        <img src="/assets/pajens/saraleticia.jpg" class="img-polaroid">
      </div>
      <div class="span5">
          <p class="lead">Sobrinha do noivo. Escolida para entrar na igreja como a dama</p>
      </div>
    </div>
  </ul>
  
  <h3> Sara Letícia </h3>
  <ul>
    <div class="row">
      <div class="span5">
        <img src="/assets/pajens/saraleticia.jpg" class="img-polaroid">
      </div>
      <div class="span5">
          <p class="lead">Sobrinha do noivo. Escolida para entrar na igreja como a dama</p>
      </div>
    </div>
  </ul>
</div>