<div class="container marketing">
  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140" src="/assets/fernando.jpg">
      <h2 class="featurette-heading">Fernando Dutra. <span class="muted">Primo do noivo.</span></h2>
      <p class="lead">Além de ser primo do noivo é um grande amigo do casal.</p>      
    </div>
    
  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/fernando.jpg">
      
      <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>      
    </div>
      
</div>
  