<div class="container marketing">
  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140" src="/assets/fernando.jpg">
      <h2 class="featurette-heading">Fernando Dutra <span class="muted">Primo do noivo</span></h2>
    </div>
    
  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/consuelo.jpg">
      <h2 class="featurette-heading">Consuelo Dutra <span class="muted">Tia do noivo</span></h2>
    </div>
    
  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/sonia.jpg">
      <h2 class="featurette-heading">Sonia Oliveira <span class="muted">Tia do noivo</span></h2>
    </div>

  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/zeamin.jpg">
      <h2 class="featurette-heading">José Amim Oliveira <span class="muted">Tio do noivo</span></h2>
    </div>
    
  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/tahisa.jpg">
      <h2 class="featurette-heading">Tahisa Cunha <span class="muted">Amiga dos noivos</span></h2>
    </div>
    
  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/victor.jpg">
      <h2 class="featurette-heading">Victor <span class="muted">Primo da noiva</span></h2>
    </div>    

  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/consuelo.jpg">
      <h2 class="featurette-heading">Marcelo Múcio <span class="muted">Tio do noivo</span></h2>
    </div>    

  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/sara.jpg">
      <h2 class="featurette-heading">Sara Marques <span class="muted">Tia do noivo</span></h2>
    </div>    
    
  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/maira.jpg">
      <h2 class="featurette-heading">Maíra Diniz <span class="muted">Amiga dos noivos</span></h2>
    </div>    
    
  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/bob.jpg">
      <h2 class="featurette-heading">Lucas Bob <span class="muted">Amigo dos noivos</span></h2>
    </div>
    
  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/cris.jpg">
      <h2 class="featurette-heading">Cristiane <span class="muted">Amiga dos noivos</span></h2>
    </div>  
    
  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/gu.jpg">
      <h2 class="featurette-heading">Gustavo Pontelo <span class="muted">Primo da noiva</span></h2>
    </div>  
      
  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/consuelo.jpg">
      <h2 class="featurette-heading">Tia Cotinha <span class="muted">Tia da noiva</span></h2>
    </div>      

  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/xicao.jpg">
      <h2 class="featurette-heading">Xicão Fonseca <span class="muted">Primo da noiva</span></h2>
    </div>
    
  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/consuelo.jpg">
      <h2 class="featurette-heading">Tio Cid <span class="muted">Tio da noiva</span></h2>
    </div>      

  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/consuelo.jpg">
      <h2 class="featurette-heading">Preta <span class="muted">Tia da noiva</span></h2>
    </div>      

  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/dani.jpg">
      <h2 class="featurette-heading">Dani <span class="muted">Amiga dos noivos</span></h2>
    </div>      

  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/michel.jpg">
      <h2 class="featurette-heading">Douglas Michel <span class="muted">Amigo dos noivos</span></h2>
    </div>      
  
  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/karol.jpg">
      <h2 class="featurette-heading">Karol <span class="muted">Irmã da noiva</span></h2>
    </div>      

  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/tiago.jpg">
      <h2 class="featurette-heading">Thiago <span class="muted">Cunhado da noiva</span></h2>
    </div>
    
  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/kamila.jpg">
      <h2 class="featurette-heading">Kamila <span class="muted">Irmã da noiva</span></h2>
    </div>      

  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/consuelo.jpg">
      <h2 class="featurette-heading">Luan <span class="muted">Cunhado da noiva</span></h2>
    </div>
    
  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/consuelo.jpg">
      <h2 class="featurette-heading">Rosaura <span class="muted">Tia da noiva</span></h2>
    </div>      

  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/roberto.jpg">
      <h2 class="featurette-heading">Robertinho <span class="muted">Primo da noiva</span></h2>
    </div>      

  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/consuelo.jpg">
      <h2 class="featurette-heading">Baiano <span class="muted">Amigo dos noivos</span></h2>
    </div>      

  <hr class="featurette-divider">
    <div class="featurette">
      <img class="featurette-image pull-left img-circle" data-src="holder.js/140x140"  src="/assets/consuelo.jpg">
      <h2 class="featurette-heading">Mary <span class="muted">Amiga dos noivos</span></h2>
    </div>      
</div>
  