<div class="container marketing">
  <hr class="featurette-divider">
		<ul class="lb-album unstyled">
			<li>
				<a href="#image-1">
					<img src="assets/thumbs/Pai.jpg" alt="image01">
					<span>Pai da Noiva</span>
				</a>
				<div class="lb-overlay" id="image-1">
					<a href="#page" class="lb-close">x Fechar</a>
					<img src="assets/parents/Pai.jpg" alt="image01" />
					<div>
						<h3>Rogério<span></h3>
						<p> Pai da Noiva </p>
					</div>
				</div>
			</li>
			
      <li>
        <a href="#image-2">
          <img src="assets/thumbs/cleusa.jpg" alt="image02">
          <span>Mãe da Noiva</span>
        </a>
        <div class="lb-overlay" id="image-2">
          <img src="assets/parents/cleusa.jpg" alt="image02" />
          <div>             
            <h3>Cleusa <span></h3>
            <p>Mãe da Noiva</p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      <li>
        <a href="#image-3">
          <img src="assets/thumbs/nil.jpg" alt="image03">
          <span>Padastro do Noivo</span>
        </a>
        <div class="lb-overlay" id="image-3">
          <img src="assets/parents/nil.jpg" alt="image03" />
          <div>             
            <h3>Bevanilson <span>NIL</h3>
            <p>Padastro do Noivo</p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      <li>
        <a href="#image-4">
          <img src="assets/thumbs/ana.jpg" alt="image04">
          <span>Mãe do noivo</span>
        </a>
        <div class="lb-overlay" id="image-4">
          <img src="assets/parents/ana.jpg" alt="image04" />
          <div>             
            <h3>Ana Lourdes<span></h3>
            <p>Mãe do Noivo</p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      <li>
	  </ul>
</div>
