<div class="container marketing">
  <hr class="featurette-divider">

  <h1> Sobre o Casal </h1>  
  <div class="row">
    <div class="span5">
      <img src="/assets/pedido.jpg" class="img-polaroid">
    </div>
    <div class="span5">
        <p class="lead">Tudo começou em um simples encontro, onde não percebemos o que estava por vir, foi no dia 2 de maio que deu inicio a tudo, ao sairmos juntos percebemos que e desde então não nos desgrudamos </p>
    </div>
    
  </div>
</div>