<div class="container marketing">
  <hr class="featurette-divider">

  <h1> Sobre o Casal </h1>
  <hr>
  <div class="row">
    <div class="span6">
      <img src="/assets/pedido.jpg" class="img-polaroid">
      
    </div>
    
    <div class="span6", align="justify">
      <p class="lead" >Em uma época de “amores descartáveis” e filas que andam na velocidade da luz, tomar a decisão de casar não é fácil, claro que pinta aquela dúvida que amanhã ele ou ela pode achar alguém melhor, mas então qual o significado da família? E por que diabos uma pessoa quer passar ao lado de apenas outra pessoa pro resto da vida? Isso não enjoa? Não perde a graça? Caros amigos, pensado na lógica da situação de 40, 50 ou 80 anos ao lado de uma única pessoa deve ser uma prisão, mas então hoje fazendo a nossa escolha de casar vemos que essas perguntas só poderão ser respondidas quando sentires o que estamos sentindo hoje. Não é possível explicar, mas o amor se renova e a vontade de construir uma família é algo maravilhoso e isso só faz sentido quando você olha para o lado e sente admiração, quando há respeito e principalmente quando há amor. Nossa história não é melhor e nem pior dentre as tantas histórias de amor, mas apenas diferente, com o nosso tempero e com a nossa cara.</p>
    </div>
  </div>
</div>
<script type="text/javascript">
  console.log($('.audio'))
  $('.audio').children().children().attr('src', "https://s3-sa-east-1.amazonaws.com/marry/The+Lazy+Song.mp3");
</script>
