<div class="container marketing">
  <hr class="featurette-divider">
		<ul class="lb-album unstyled">
			<li>
				<a href="#image-1">
					<img src="assets/thumbs/balada1.jpg" alt="image01">
					<span>Amigos</span>
				</a>
				<div class="lb-overlay" id="image-1">
					<a href="#page" class="lb-close">x Fechar</a>
					<img src="assets/moments/balada1.jpg" alt="image01" />
					<div>
						<h3>Amigos<span></h3>
						<p> Na balada com os amigos </p>
					</div>
				</div>
			</li>
			
      <li>
        <a href="#image-2">
          <img src="assets/thumbs/brega3.jpg" alt="image02">
          <span>Festa Brega</span>
        </a>
        <div class="lb-overlay" id="image-2">
          <img src="assets/moments/brega3.jpg" alt="image02" />
          <div>             
            <h3>Festa Brega <span></h3>
            <p>Festa Brega com os amigos</p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-4">
          <img src="assets/thumbs/eueamor1.jpg" alt="image04">
          <span>Ano Novo</span>
        </a>
        <div class="lb-overlay" id="image-4">
          <img src="assets/moments/eueamor1.jpg" alt="image04" />
          <div>             
            <h3>Ano novo<span></h3>
            <p>Ano novo que passamos juntos</p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-5">
          <img src="assets/thumbs/eueamor2.jpg" alt="image04">
          <span>Início de namoro</span>
        </a>
        <div class="lb-overlay" id="image-5">
          <img src="assets/moments/eueamor2.jpg" alt="image04" />
          <div>             
            <h3>Início de namoro<span></h3>
            <p></p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-6">
          <img src="assets/thumbs/eueamor3.jpg" alt="image04">
          <span>Passeando</span>
        </a>
        <div class="lb-overlay" id="image-6">
          <img src="assets/moments/eueamor3.jpg" alt="image04" />
          <div>             
            <h3><span></h3>
            <p></p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-7">
          <img src="assets/thumbs/joaopedro.jpg" alt="image04">
          <span>João Pedro</span>
        </a>
        <div class="lb-overlay" id="image-7">
          <img src="assets/moments/joaopedro.jpg" alt="image04" />
          <div>             
            <h3>João Pedro<span></h3>
            <p>Irmão da Noiva</p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-8">
          <img src="assets/thumbs/micareta.jpg" alt="image04">
          <span>Micareta</span>
        </a>
        <div class="lb-overlay" id="image-8">
          <img src="assets/moments/micareta.jpg" alt="image04" />
          <div>             
            <h3>Micareta<span></h3>
            <p>Festa do Sol</p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-9">
          <img src="assets/thumbs/namoro.jpg" alt="image04">
          <span>Dia dos Namorados</span>
        </a>
        <div class="lb-overlay" id="image-9">
          <img src="assets/moments/namoro.jpg" alt="image04" />
          <div>             
            <h3>Dia dos Namorados<span></h3>
            <p>Primeiro dia dos namorados</p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-10">
          <img src="assets/thumbs/namoro2.jpg" alt="image04">
          <span>Dia dos Namorados</span>
        </a>
        <div class="lb-overlay" id="image-10">
          <img src="assets/moments/namoro2.jpg" alt="image04" />
          <div>             
            <h3>Dia dos Namorados<span></h3>
            <p>Dia dos namorados</p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-11">
          <img src="assets/thumbs/nandoeunil.jpg" alt="image04">
          <span>Fernando e Nil</span>
        </a>
        <div class="lb-overlay" id="image-11">
          <img src="assets/moments/nandoeunil.jpg" alt="image04" />
          <div>             
            <h3>Fernando e Nil<span></h3>
            <p></p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-12">
          <img src="assets/thumbs/nil1.jpg" alt="image04">
          <span>Réveillon</span>
        </a>
        <div class="lb-overlay" id="image-12">
          <img src="assets/moments/nil1.jpg" alt="image04" />
          <div>             
            <h3>Réveillon<span></h3>
            <p>2012</p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-13">
          <img src="assets/thumbs/niverbaiano.jpg" alt="image04">
          <span>Niver Baiano</span>
        </a>
        <div class="lb-overlay" id="image-13">
          <img src="assets/moments/niverbaiano.jpg" alt="image04" />
          <div>             
            <h3>Niver Baiano<span></h3>
            <p></p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-15">
          <img src="assets/thumbs/niverbaiano2.jpg" alt="image04">
          <span>Niver Baiano</span>
        </a>
        <div class="lb-overlay" id="image-15">
          <img src="assets/moments/niverbaiano2.jpg" alt="image04" />
          <div>             
            <h3>Niver Baiano<span></h3>
            <p></p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-19">
          <img src="assets/thumbs/noivado1.jpg" alt="image04">
          <span>Noivado</span>
        </a>
        <div class="lb-overlay" id="image-19">
          <img src="assets/moments/noivado1.jpg" alt="image04" />
          <div>             
            <h3>Noivado<span></h3>
            <p></p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-20">
          <img src="assets/thumbs/noivado2.jpg" alt="image04">
          <span>Noivado</span>
        </a>
        <div class="lb-overlay" id="image-20">
          <img src="assets/moments/noivado2.jpg" alt="image04" />
          <div>             
            <h3>Noivado<span></h3>
            <p></p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-22">
          <img src="assets/thumbs/paintball2.jpg" alt="image04">
          <span>Paint Ball</span>
        </a>
        <div class="lb-overlay" id="image-22">
          <img src="assets/moments/paintball2.jpg" alt="image04" />
          <div>             
            <h3>Paint Ball<span></h3>
            <p>Paint ball com os amigos</p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-23">
          <img src="assets/thumbs/serracipo.jpg" alt="image04">
          <span>Serra Cipó</span>
        </a>
        <div class="lb-overlay" id="image-23">
          <img src="assets/moments/serracipo.jpg" alt="image04" />
          <div>             
            <h3>Serra Cipó<span></h3>
            <p>Carnaval na serra do cipó</p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-24">
          <img src="assets/thumbs/thaisa.jpg" alt="image04">
          <span>Formatura Tahisa</span>
        </a>
        <div class="lb-overlay" id="image-24">
          <img src="assets/moments/thaisa.jpg" alt="image04" />
          <div>             
            <h3>Formatura de Tahisa<span></h3>
            <p>Formatura de nossa grande amiga Tahisa</p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-25">
          <img src="assets/thumbs/sara.jpg" alt="image04">
          <span>Sara</span>
        </a>
        <div class="lb-overlay" id="image-25">
          <img src="assets/moments/sara.jpg" alt="image04" />
          <div>             
            <h3>Sara<span></h3>
            <p>Afilhada do noivo</p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-26">
          <img src="assets/thumbs/fotomeninas.jpg" alt="image04">
          <span>Friends</span>
        </a>
        <div class="lb-overlay" id="image-26">
          <img src="assets/moments/fotomeninas.jpg" alt="image04" />
          <div>             
            <h3>Nossas Amigas<span></h3>
            <p> Encontro no Apartamento de Karina </p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
      
      <li>
        <a href="#image-27">
          <img src="assets/thumbs/fotomeninas2.jpg" alt="image04">
          <span>Dany e Aninha</span>
        </a>
        <div class="lb-overlay" id="image-26">
          <img src="assets/moments/fotomeninas2.jpg" alt="image04" />
          <div>             
            <h3>Dany e Aninha<span></h3>
            <p> Pessoas especias </p>
          </div>
          <a href="#page" class="lb-close">x Fechar</a>
        </div>
      </li>
	  </ul>
</div>

<script type="text/javascript">
  $('.audio').children().children().attr('src', "https://s3-sa-east-1.amazonaws.com/marry/The+Lazy+Song.ogg",
                                         'src', "https://s3-sa-east-1.amazonaws.com/marry/The+Lazy+Song.mp3");
</script>
